
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 style="text-align:center;">About this Site</h3>
  </div>
  <table class="table table-responsive table-hover">
    <tr >
      <th>Total Post</th>
      <th>Total User</th>
      <th>Total Comment</th>
      <th>Total Category</th>
    </tr>
    <tr>
      <td><%=Post.all.count.to_s%></td>
      <td><%=User.all.count.to_s%></td>
      <td><%=Comment.all.count.to_s%></td>
      <td><%=Category.all.count.to_s%></td>
    </tr>
  </table>
</div>




