<h2>Play jQuery</h2>


<ul id="foo">
  <li>AAA</li>
  <li>BBB</li>
  <li>CCC</li>
</ul>

<a href="#" id="toggle-list">Toggle</a>

<script>

  // $('#foo li').click(){
  //   console.log($(this).text())
  // })

$("#toggle-list").click(function)(){
  $("#foo").slideToggle();
})



</script>
