.header-nav{
  padding:10px;
  padding-right: 15px;
}



.avatar{
  width: 50px;
  height: 50px;
  border-radius: 20%;

}
.utility-tag-right{
  float: right;
}

.panel-right{
  float: right;
  margin-top: -7px;
}

.category-tag{
  float: left;
}

.utility{
  margin:10px 0;
}

.text-centered{
  text-align: center;
}
